nav {
    background-color: black;
    margin-bottom: 1em;
}

.card img {
    padding: 5px;
    width: auto !important;
    max-width:100%; 
    max-height:300px;
    margin: 0 auto;
}

.wechat {
    max-width: 20%;
    min-width: 20%;
}


.title {
    display: inline-block;
    margin-left: 1em;
    
}

.ui.container h1 {
    margin-bottom: 1em;
}

#rate {
    margin-top: 1em
}