header {
    background-color: black;
    margin-bottom: 1em;
}

.card img {
    padding: 5px;
    max-height: 300px;
}


.cards div {
    margin: 0 auto; 
}

.wechat {
    max-width: 20%;
    min-width: 18%;
}

.row {
    margin-bottom: 1em;
}

.title {
    display: inline-block;
    margin-left: 1em;
    
}